<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Stop Big Boba. Join the Fight.</title>
    <meta name="description"
        content="Big Boba has preyed on our teenagers for too long. Join us as we fight against Big Boba and their poision.">
</head>

<body>
    <div class="fixed z-30 w-full px-6 py-4 text-gray-200 bg-orange-600">
        <p class="text-2xl sm:text-3xl md:pl-5">
            <a href="/">Stop Big Boba</a>
        </p>
    </div>
    <div class="h-20"></div>

    <div class="w-full px-4 py-8 my-10 text-xl sm:px-8 md:px-24">
        <div class="max-w-4xl mx-auto text-gray-800">
            <h1 class="mb-4 text-3xl font-bold text-center">Sorry, that page wasn't found.</h1>
            <p class="text-xl">You've found the rare (not really) 404(ic). Now that you've gotten the bragging rights, why don't you head back to the <a href="/" class="text-blue-700 underline">main page</a>?</p>
            <img class="w-2/3 mx-auto mt-8 rounded" src="/assets/panda.jpg" alt="a red panda">
        </div>
    </div>

    <footer class="text-gray-200 bg-teal-900">
        <div class="flex items-center justify-center w-full py-8">
            <p class="text-lg">Stop Big Boba © {{ datetime.year }}</p>
        </div>
    </footer>
</body>

</html>