<!doctype html>
<html lang="en">
    <head>
        {% include "_favicons.njk" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css"/>
        <title>Stop Big Boba. Join the Fight.</title>
        <meta name="description" content="Big Boba has preyed on our teenagers for too long. Join us as we fight against Big Boba and their poison.">
        <meta property="og:title" content="Stop Big Boba. Join the Fight." />
        <meta property="og:description" content="Big Boba has preyed on our teenagers for too long. Join us as we fight against Big Boba and their poison.">
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://stopbigboba.com/" />
        <meta property="og:image" content="https://stopbigboba.com/assets/graphic.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:alt" content="a graphic containing the text 'End this now. stopbigboba.com'" />
        <meta property="og:video" content="https://youtu.be/7v1jOe2AGjY" />
        <meta name="theme-color" content="#7ed9c8" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:domain" content="stopbigboba.com">
        <meta name="twitter:url" content="https://stopbigboba.com">
        <meta name="twitter:title" content="Stop Big Boba. Join the Fight.">
        <meta name="twitter:description" content="Big Boba has preyed on our teenagers for too long. Join us as we fight against Big Boba and their poison.">
        <meta name="twitter:image" content="https://stopbigboba.com/assets/graphic.png">
        <meta name="twitter:image:alt" content="a graphic containing the text 'End this now. stopbigboba.com'" />
        <script async defer data-domain="stopbigboba.com" src="https://stats.stopbigboba.com/js/index.js"></script>
    </head>
    <body>
        <div class="relative">
            <picture>
                <source srcset="/assets/400.jpg" media="(max-width: 400px)"/>
                <source srcset="/assets/500.jpg" media="(max-width: 500px)"/>
                <source srcset="/assets/600.jpg" media="(max-width: 600px)"/>
                <source srcset="/assets/800.jpg" media="(max-width: 800px)"/>
                <source srcset="/assets/1000.jpg" media="(max-width:1000px)"/>
                <source srcset="/assets/1500.jpg" media="(max-width:1500px)"/>
                <source srcset="/assets/2000.jpg" media="(min-width:1501px)"/>
                <img class="static block w-full darken-40"
                     src="/assets/400.jpg"
                     alt="people holding a sign at a protest"/>
            </picture>
            <div class="absolute bottom-0 w-full top-50">
                <div class="absolute inset-x-0 top-0 -mt-16">
                    <h1 class="block text-4xl font-bold leading-tight tracking-wide text-center text-gray-200 md:text-5xl">Stop <span class="text-orange-400">Big</span> Boba. End This <span class="text-blue-400">Now.</span></h1>
                    <a class="block w-48 p-3 mx-auto mt-8 text-lg font-medium text-center text-gray-200 bg-transparent border-2 border-gray-300 hover:bg-white hover:text-gray-800" href="https://youtu.be/7v1jOe2AGjY">Watch the Video</a>
                </div>
            </div>
        </div>
        <div class="w-full px-4 py-8 my-10 text-xl sm:px-8 md:px-24">
            <div class="max-w-4xl mx-auto text-gray-800">
                <h1 class="mb-2 text-3xl font-bold text-center">Big Boba has preyed on our children for too long.</h1>
                <h2 class="text-2xl font-medium text-center">Now is the time to act.</h2>
                <p class="mt-4">We are <span class="font-semibold">Stop Big Boba</span> and we are committed to ending the malicious practices and cruelty of Big Boba.</p>
                <p class="mt-4"><span class="font-semibold">Did you know</span> that the addictive chemical in boba, <span class="italic"><span class="whitespace-no-wrap">α-D-glucopyranoside</span> <span class="whitespace-no-wrap">β-D-fructofuranosyl</span></span>, is a major cause in <span class="font-semibold">heart disease, diabetes, and obesity</span>? The primary ingredient in boba, <span class="italic">hydrogen oxide</span>, is also used in nuclear reactors as a coolant. Does that sound like something you want in your body?</p>
                <img class="w-1/2 mx-auto mt-8 rounded" src="/assets/boba.jpg" alt="boba in glass jars sitting against wood paneling">
                <p class="mt-4 text-base text-center text-gray-600">Boba is high in dangerous, addictive chemicals.</p>
                <p class="mt-6"><span class="font-semibold">How does Big Boba actually target teenagers?</span> The short answer: Advertising. Many online influencers promote "doing boba", and kids are noticing. This causes a vicious cycle of boba content consumption, peer pressure, which causes more "pro-boba" content to be made. With this much exposure, it's no wonder kids are getting addicted, and fast! Preliminary studies show that as high as 1 in 4 califORNIans are addicted, but who knows how many closeted boba addicts there are.</p>
                <p class="mt-4"><span class="font-semibold">What can I do to help?</span> Raise awareness. Until the malicious practices of Big Boba become mainstream, our power is truly limited. Lawmakers have been historically very reluctant to do anything about issues like this, and the power of capitalism and the free market has always promoted anything you can do to get ahead, even if this means pumping your products full of addictive chemicals. Luckily, if we all come together and raise our voices, we can be stronger together.</p>
                <p class="mt-8 text-2xl font-bold text-center">Together, we can <span class="ml-2 text-3xl font-extrabold">Stop Big Boba.</span></p>
            </div>
        </div>

        <footer class="text-gray-200 bg-teal-900">
            <div class="flex flex-col items-center justify-center w-full py-12">
                <p class="text-xl">Stop Big Boba © {{ datetime.year }}</p>
                <p class="mt-4 mb-2 text-lb">A web project by <a href="https://tomichen.com" class="underline">Tomi Chen.</a></p>
            </div>
        </footer>
    </body>
</html>